<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>임시 비밀번호 발급</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
		/>
	</head>
	<body
		style="
			font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
				'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
				'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
			max-width: 850px;
			margin: 0 auto;
		"
	>
		<header>
			<h1
				class="sr-only"
				style="
					position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					margin: -1px;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: 0;
				"
			>
				DOKBARO
			</h1>
			<img src="cid:image" width="210" alt="DOKBARO 로고" />
		</header>
		<main style="margin-top: 44.375px; line-height: 1.5; font-weight: 500; color: #000000">
			<p class="instruction" style="font-size: 20px">
				<span th:text="${email}"></span>님 안녕하세요.<br />
				요청하신 임시 비밀번호를 아래와 같이 발급해드렸습니다.
			</p>
			<p class="new-password" th:text="${password}" style="margin-top: 47.5px; font-size: 30px"></p>
			<p class="description" style="margin-top: 49.375px; font-size: 20px">
				발급된 임시 비밀번호로 로그인 후, 보안을 위해
				<strong style="font-weight: 700">마이페이지</strong>에서 새로운 비밀번호로 변경해 주시기 바랍니다.
			</p>
		</main>
		<footer>
			<div class="line" style="margin-top: 50px; height: 4.375px; width: 100%; background-color: #9747ff"></div>
			<p class="legal-notice" style="margin-top: 20.625px; font-size: 15px; color: #8e8e8e">
				본 메일은 DOKBARO 서비스에 대한 광고가 아닙니다.
			</p>
		</footer>
	</body>
</html>
